<h1>Добавить пост</h1>
<% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
        <%= msg %>
        <br>
    <% end %>
  <% end %>
<%= form_for :post, url:posts_path do |f| %>
    <p>
        Заголовок: <%= f.text_field(:title,{:class => 'form-control'}) %></p>
    <p>
        Текст поста: <%= f.text_area(:body,{:class => 'form-control'}) %></p>
    <p><%= f.submit("Добавить пост",{:class => 'btn btn-success'} ) %></p>
<% end %>