<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<br>
<strong><%= @post.dt_post %></strong>
<br>
<% if current_user == @post.user %>
  <strong><%= link_to "Редактировать пост", edit_post_path(@post) %></strong>
  <strong><%= link_to "Удалить пост", post_path(@post), method: :delete,
    data: { confirm: 'Вы хотите удалить пост?' } %></strong>
<% else %>
  <strong>Редактирование доступно только Автору поста</strong>
<% end %>
<br>
<% if (@post.comments).length == 0 %>
  <h3>К этому посту нет комментарией</h3>
<% else %>
<h2>Все комментарии к посту</h2>
  <% @post.comments.each do |comment| %>
    <div>
      <p><%= comment.username %> :: <%= comment.body%></p>
      <strong><%= comment.times %></strong>
    </div>
  <% end %>
<% end %>