 <h3> <%= @post.title%> </h3>
  <p> <%= @post.content%> </p>
  <p> <%= @post.post_date%> </p>
  <hr>
  <%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-info' %>
  <%= link_to "Удалить пост", post_path(@post),method: :delete,
  data: { confirm: 'Вы хотите удалить пост?' },
  :class => 'btn btn-danger' %>
  <hr>
    <h1>Все комментарии</h1>
    <% @post.comments.each do |comment| %>
      <div class="alert alert-light">
        <p><strong><%= comment.user_name %></strong>: <%= comment.body%></p>
      </div>
    <%end%>
  <hr>
  <hr>
    <h2>Добавить комментарии</h2>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        Пользователь: <br>
        <%= f.text_field(:user_name, {:class => 'form-control'}) %>
    </p>
    <p>
        Комментарий <br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.submit("Добавить комментарий",{:class => 'btn btn-success'}) %>
    </p>
  <% end %>